<div class="header-container">
    <div class="logo-container">
        <img src="assets\image.png" alt="Logo">
    </div>

    <ul class="menu">
        <li><a routerLink="/welcome">Home</a></li>
        <li><a routerLink="/about">About</a></li>
        <li><a routerLink="/contact">Contact</a></li>
    </ul>
</div>

<form class="medical-form">
    <div>
        <span class="material-symbols-outlined">
            person
        </span>
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required placeholder="Enter your Username">
    </div>
    <div>
        <span class="material-symbols-outlined">
            lock
        </span>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required placeholder="Enter your Password">
    </div>
    <button routerLink="/welcome">Login</button>
    <button routerLink="/signup">Signup</button>
    <a href="#">Forgot password?</a>
</form>