body {
    margin: 0px;
    font-family: "Inter", sans-serif;
    color: #ffffff;
    font-weight: 500;
    background-image: url('https://img.freepik.com/free-photo/flat-lay-medical-desk-arrangement-with-copy-space_23-2148502980.jpg?t=st=1718032187~exp=1718035787~hmac=5743a6b5a336940819b0b2e1a9b4df2ced141f7289f70c726bc15f43059c4fec&w=740');
    background-size: cover;
    background-position: center;
}

.material-symbols-outlined {
    color: #7c7878;
    font-size: 2rem;
    font-variation-settings:
        'FILL' 0,
        'wght' 600,
        'GRAD',
        'opsz' 25,
}


.pop {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 70px;
}

.data {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 900px;
    width: 100%;
    text-align: center;
    color: black;
}

h2 {
    margin-top: 0;
    margin-bottom: 40px;
}


label {
    display: block;
    margin-top: 10px;
    margin-bottom: 5px;
    text-align: left;
}

input[type="text"],
input[type="number"],
input[type="email"],
input[type="date"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.flex-container {
    display: flex;
    justify-content: space-between;
}

.flex-item {
    width: 48%;
}

input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 30px;
    margin-bottom: 20px;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}