<div class="containers">
    <div id="logo">
        <a href="">
            <img class="logo-img" src="assets/Logoo.png" alt="Logo du cabinet">
        </a>
    </div>

    <div id="links">
        <a class="link" href="#">Acceuil</a>
        <div class="link">Cabinet</div>
        <div class="link">Equipe</div>
        <div class="link">Contact</div>
        <a class="link" routerLink="/rdv">Prendre un rendez-vous</a>
        <div>|</div>
        <div routerLink="/signup" style="cursor: pointer;">Créer un compte</div>
    </div>
</div>

<body class="bg-gradient-primary">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-10 col-lg-12 col-md-9">
                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <div class="row">
                            <div class="col-lg-6 d-none d-lg-block bg-password-image"></div>
                            <div class="col-lg-6">
                                <div class="p-5">
                                    <div class="text-center">
                                        <h1 class="h4 text-gray-900 mb-2">Mot de passe oublié ?</h1>
                                        <p class="mb-4">Nous comprenons, des imprévus peuvent arriver. Veuillez entrer
                                            votre adresse e-mail ci-dessous et nous vous enverrons un lien pour
                                            réinitialiser votre mot de passe !</p>
                                    </div>
                                    <form class="user">
                                        <div class="form-group">
                                            <input type="email" class="form-control form-control-user"
                                                id="exampleInputEmail" aria-describedby="emailHelp"
                                                placeholder="Enter Email Address...">
                                        </div>
                                        <a routerLink="/login" class="btn btn-primary btn-user btn-block">
                                            Réinitialiser le mot de passe </a>
                                    </form>
                                    <hr>
                                    <div class="text-center">
                                        <a class="small" routerLink="/signup">Créer un compte !</a>
                                    </div>
                                    <div class="text-center">
                                        <a class="small" routerLink="/login">Vous avez déjà un compte ? Connectez-vous
                                            !</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="js/sb-admin-2.min.js"></script>
    <footer>
        <p>&copy; 2024 Cabinet médical DocConnect. Tous droits réservés.</p>
        <p>Conçu et développé par ABID Safae</p>
    </footer>
</body>