#sidebar {
    position: fixed;
    left: 0;
    top: 0;
    width: 280px;
    height: 100%;
    background-color: #E5e7e6;
    color: #fff;
    padding-top: 20px;
    font-family: 'Inter', sans-serif;
}

#sidebar img {
    display: block;
    margin: 20px auto;
    max-width: 30%;
    height: auto;
}

#sidebar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#sidebar ul li {
    padding: 10px;
    cursor: pointer;
}

#sidebar ul li:hover {
    background-color: #cccc;
}

#topbar {
    background-color: #9ac8eb;
    color: #000;
    padding: 10px;
    text-align: right;
    font-family: 'Inter', sans-serif;
}

#topbar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

#topbar ul li {
    display: inline;
    margin-left: 70px;
}

#topbar ul li a {
    text-decoration: none;
    color: #000;
    margin-left: 50px;
}

.content {
    max-width: 900px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-left: 340px;
    font-family: 'Inter', sans-serif;
}

.content h2 {
    margin-top: 0;
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24;
    vertical-align: middle;
    margin-right: 10px;
}

#sidebar ul li a {
    color: #585858;
    text-decoration: none;
    display: block;
    padding: 10px 20px;
    border-bottom: 1px solid transparent;
}

#sidebar ul li a:hover {
    background-color: #cccc;
    border-color: #cccc;
}

.highlighted-item {
    background-color: #fff;
}

.highlighted-item:hover {
    background-color: #fff;
    border-color: #fff;
}

.fixed-button {
    position: fixed;
    bottom: 20px;
    left: 20px;
    width: 200px;
}

.fixed-button button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-left: 15px;
}

.fixed-button button:hover {
    background-color: #45a049;
}

.table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 10px;
    overflow: hidden;
}

.table th,
.table td {
    padding: 8px;
    border-bottom: 1px solid #a09595;
    text-align: left;
    background-color: #d6d6d6;
}

.table th {
    background-color: #fc2929;
}

.table tr:hover {
    background-color: #f5f5f5;
}

.filters {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.search-bar input[type="text"] {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 250px;
}

.filter-dropdown select {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    cursor: pointer;
}