body {
    margin: 0px;
    font-family: "Inter", sans-serif;
    color: #ffffff;
    font-weight: 500;
    /*background-color: #37CDFF;*/
    background-image: url('https://img.freepik.com/free-photo/flat-lay-medical-desk-arrangement-with-copy-space_23-2148502980.jpg?t=st=1718032187~exp=1718035787~hmac=5743a6b5a336940819b0b2e1a9b4df2ced141f7289f70c726bc15f43059c4fec&w=740');
    background-size: cover;
    background-position: center;
    height: 1090px;
}

.box {
    width: 1200px;
    border-bottom: 20px solid #2c80da;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-left: 180px;
    color: #000000;
    margin-top: 50px;
}

.box h2 {
    color: #ffffff;
    background: #2c80da;
    padding: 10px 20px;
    font-size: 20px;
    font-weight: 700;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    text-align: center;
}

.box ul {
    position: relative;
    background: #ffffff85;
}

.box ul:hover li {
    opacity: 0.2;
}

.box ul li {
    list-style: none;
    padding: 10px;
    width: 100%;
    background: #fff;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.1);
    transition: transform 0.5s;
}

.box ul li:hover {
    transform: scale(1.1);
    z-index: 5;
    background: #2c80da;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
    color: #fff;
    opacity: 1;
}

.box ul li span {
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    background: #2c80da;
    color: #ffffff;
    display: inline-block;
    border-radius: 50%;
    margin-right: 10px;
    font-size: 12px;
    font-weight: 600;
    transform: translateY(-2px);
}

.box ul li:hover span {
    background: #fff;
    color: #2c80da;
}