body {
    margin: 0px;
    font-family: "Inter", sans-serif;
    color: #ffffff;
    font-weight: 500;
    /*background-color: #37CDFF;*/
    background-size: cover;
    background-position: center;
    /*background: #e2e2e2;*/
    background-image: url('https://img.freepik.com/free-photo/flat-lay-medical-desk-arrangement-with-copy-space_23-2148502980.jpg?t=st=1718032187~exp=1718035787~hmac=5743a6b5a336940819b0b2e1a9b4df2ced141f7289f70c726bc15f43059c4fec&w=740');
    height: 1090px;
}