<div class="profile-container">
    <div class="profile-info">
        <div class="profile-picture">
            <img src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg"
                alt="Profile Picture">
        </div>
        <div class="profile-details">
            <h2 class="profile-name">Edogaru</h2>
            <p class="profile-mail">edogaru&#64;mail.com.my</p>
        </div>
    </div>

    <div class="profile-settings">
        <h3>Profile Settings</h3>
        <div class="profile-form">
            <div>
                <label for="firstName" class="profile-label">First Name</label>
                <input type="text" class="form-control" id="firstName" placeholder="Enter your first name">
            </div>
            <div>
                <label for="lastName" class="profile-label">Last Name</label>
                <input type="text" id="lastName" class="form-control" placeholder="Enter your last name">
            </div>
            <div>
                <label for="email" class="profile-label">Email</label>
                <input type="email" id="email" class="form-control" placeholder="Enter your email">
            </div>
            <button type="submit" class="save">Save Profile</button>
            <button type="button" class="return" routerLink="/welcome">Cancel</button>
        </div>
    </div>