<title>Medical Cabinet Management</title>
<div id="sidebar">
    <img src="assets/image.png" alt="Logo">
    <ul>
        <li>
            <a routerLink="/appointment"><span class="material-symbols-outlined">
                    edit_note
                </span>
                Rendez-vous</a>
        </li>
        <li class="highlighted-item">
            <a routerLink="/patient-records"><span class="material-symbols-outlined">
                    patient_list
                </span>
                Dossiers des patients</a>
        </li>
        <li><a><span class="material-symbols-outlined">
                    prescriptions
                </span>
                Ordonnances</a></li>
        <li><a routerLink="/payment"><span class="material-symbols-outlined">
                    payments
                </span>
                Facturation et paiement</a></li>
        <li><a><span class="material-symbols-outlined">
                    chat
                </span>
                Communication</a></li>
        <li><a routerLink="/analytics">
                <span class="material-symbols-outlined">
                    monitoring
                </span>
                Analyses</a></li>
    </ul>
    <div class="fixed-button"><a routerLink="/profile">
            <button>Profile</button></a>
    </div>
</div>
<div id="topbar">
    <ul>
        <li><a routerLink="/welcome">Accueil</a></li>
        <li><a>À propos</a></li>
        <li><a>Contact</a></li>
        <li><a routerLink="/profile">Profile</a></li>
        <li><a routerLink="/login">Se déconnecter</a></li>
    </ul>
</div>
<div id="content">
    <h1>Liste des patients</h1>
    <ul class="op">
        <li class="op1" *ngFor="let patient of patients" (click)="displayPatientDetails(patient.id)">{{ patient.id }} .
            {{ patient.name }}
        </li>
    </ul>

    <div class="patient-details" *ngIf="selectedPatient">
        <h2>{{ selectedPatient.name }}</h2>
        <p>Age: {{ selectedPatient.age }}</p>
        <div class="medical-record">
            <h3>Medical Records</h3>
            <p>{{ selectedPatient.medicalRecords }}</p>
        </div>
    </div>
</div>