<div class="header-container">
    <div class="logo-container">
        <img src="assets\image.png" alt="Logo">
    </div>

    <ul class="menu">
        <li><a href="#accueil" class="link">Accueil</a></li>
        <li><a href="#cabinet" class="link">Cabinet</a></li>
        <li><a href="#equipe" class="link">Équipe</a></li>
        <li><a href="#contact" class="link">Contact</a></li>
        <li><a href="#prendre-rendezvous" class="link">Prendre un rendez-vous</a></li>
        <li><a routerLink="/login" class="link0">Se connecter</a></li>
    </ul>
</div>
<div class="container">
    <div class="img">
        <header>
            <h1>Cabinet Médical Supmti</h1>
            <h3>Ecouter | Préserver | Soigner</h3>
        </header>

        <div>
            <main>
                <section id="accueil">
                    <h2>Découvrez Votre Partenaire de Santé à Oujda</h2>
                    <p>
                        Bienvenue dans l'univers de la santé personnalisée et accessible. Chez Dr. Hadi Boukoula, nous
                        sommes bien plus qu'un cabinet médical ordinaire - nous sommes votre partenaire dévoué pour une
                        vie saine et épanouie.
                    </p>
                    <button>En savoir plus sur notre cabinet</button>
                </section>
                <section id="cabinet">
                    <h2>Nos Services</h2>
                    <p>Explorez Nos Soins Personnalisés

                        De la consultation initiale au suivi continu, nous offrons une gamme complète de services
                        médicaux
                        pour répondre à tous vos besoins de santé. Découvrez comment nous pouvons vous aider à atteindre
                        vos
                        objectifs de santé, étape par étape.</p>
                </section>
                <section>
                    <h2>Horaires du cabinet</h2>
                    <p>Le cabinet médical Supmti est un cabinet médical nouvellement créé par deux médecins francais,
                        anciens internes des Hospitaux de Marseille.</p>
                    <p>Dans l'objectif de répondre de façon optimale aux besoins des patients, le cabinet propose:</p>
                    <ul>
                        <li>Des consultations:</li> <br>
                        <ul>
                            <li>de 08:30 à 18:30 du lundi au jeudi (en continu)</li>
                            <li>de 08:30 à 12:30 et de 15:00 à 18:30 le vendredi</li>
                            <li>de 08:30 à 14:00 le samedi</li>
                        </ul><br>
                        <li>Pour les visites à domicile sur rendez-vous, cliquez <a href="#">ici</a></li>
                    </ul>
                </section>
                <section id="equipe">
                    <h2>Rencontrer nos médecins</h2>

                    <div class="medecin">
                        <img src="assets/d1.jpg" alt="Photo du Dr. Hadi Boukoula">
                        <div class="info">
                            <h3>Dr. Hadi Boukoula</h3>
                            <h5>Position: Médecin Généraliste</h5>
                            <p>
                                Le Dr. Hadi Boukoula, médecin généraliste de renom, est diplômé de la Faculté de
                                médecine de Marseille (France). Fort de son expertise, il est titulaire du Diplôme
                                spécialisé en médecine générale, lui permettant d'assurer des soins complets et
                                personnalisés à ses patients. En outre, il a obtenu le Diplôme inter-universitaire de
                                formation complémentaire en Gynécologie-Obstétrique, renforçant ainsi sa polyvalence et
                                son engagement envers une pratique médicale de qualité. Avec une expérience en tant
                                qu'ancien médecin interne des Hôpitaux publics de Marseille, le Dr. Hadi Boukoula
                                apporte une approche holistique et un haut niveau d'expertise à chaque consultation.
                            </p>
                        </div>
                    </div>

                    <div class="medecin">
                        <img src="assets/a1.jpg" alt="Photo du assistante 1">
                        <div class="info">
                            <h3>Laila Beghdadi</h3>
                            <h5>Position: Assistante médicale</h5>
                            <p>
                                Laila Beghdadi, assistante médicale expérimentée, est un pilier essentiel au sein de
                                notre équipe. Avec des décennies d'expérience dans le domaine médical, elle apporte une
                                profonde connaissance et une compréhension intuitive des besoins des patients. Sa
                                bienveillance et son dévouement inébranlable sont évidents dans chaque interaction,
                                établissant ainsi un climat de confiance et de réconfort pour nos patients. Toujours
                                prête à offrir un soutien inestimable, Sophie anticipe les besoins avec grâce et
                                efficacité, assurant ainsi un fonctionnement fluide et harmonieux de notre cabinet
                                médical. Son engagement sans faille envers le bien-être des patients fait d'elle un
                                élément irremplaçable de notre équipe médicale. </p>
                        </div>
                    </div>

                    <div class="medecin">
                        <img src="assets/a2.jpg" alt="Photo du assistante 2">
                        <div class="info">
                            <h3>Amira Mourtaday</h3>
                            <h5>Position: Assistante médicale</h5>
                            <p>
                                Amira Mourtaday, assistante médicale chevronnée, apporte une richesse d'expérience et
                                une empathie naturelle à notre cabinet. Forte de son parcours professionnel, elle
                                établit des liens de confiance avec nos patients, offrant un soutien inestimable tout au
                                long de leur parcours de soins. Son professionnalisme exemplaire et sa capacité à
                                anticiper les besoins font d'elle un élément indispensable de notre équipe médicale.
                            </p>
                        </div>
                    </div>
                </section>
                <section id="prendre-rendezvous">
                    <h2>Prenez Rendez-vous</h2>
                    <p>
                        Faites le Premier Pas Vers une Vie Plus Saine

                        Votre santé mérite toute notre attention. Planifiez dès aujourd'hui votre rendez-vous avec le
                        Dr. Hadi Boukoula et commencez votre voyage vers une meilleure santé. Nous sommes impatients de
                        vous accompagner dans cette aventure.</p>
                    <button routerLink="/login">Prenez un rendez-vous</button>
                </section>

                <section>
                    <div class="cabinet">
                        <h2>Cabinet Médical Supmti</h2>
                        <img src="assets/image.png" alt="Logo du cabinet">

                        <div class="info">
                            <p><strong>Adresse:</strong> Rue al Maqdiss Etage 5 Oujda 60000</p>
                            <p><strong>Téléphone:</strong> +212 536-980-302</p>
                            <p><strong>Email:</strong> DocConnect&#64;gmail.com</p>
                            <p><strong>Horaires d'ouverture:</strong></p>
                            <ul>
                                <li>Lundi - Jeudi: 08:00 - 18:00</li>
                                <li>Vendredi: 08:00 - 12:00</li>
                                <li>Samedi: 09:00 - 13:00</li>
                            </ul>
                            <p><strong>Services:</strong></p>
                            <ul>
                                <li>Consultations médicales</li>
                                <li>Visites à domicile</li>
                                <li>Examens médicaux</li>
                            </ul>
                        </div>
                    </div>
                </section>

                <section id="contact" class="contact">
                    <div class="container1">

                        <h2>Contacter-Nous</h2>
                        <form ng-submit="sendMessage()">
                            <label for="name">Nom:</label><br>
                            <input type="text" id="name" name="name" required><br>
                            <label for="email">Email:</label><br>
                            <input type="email" id="email" name="email" required><br>
                            <label for="message">Message:</label><br>
                            <textarea id="message" name="message" required></textarea><br>
                            <input type="submit" value="Envoyer un message">
                        </form>

                    </div>
                </section>


            </main>
        </div>
    </div>
</div>

<footer>
    <p>&copy; 2024 Cabinet Médical DocConnect. Tous droits réservés. Fait par Manal Chigueur
    </p>
</footer>